<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rmsllcoman.com">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="rmsllcoman.com.Activity.SplashActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="rmsllcoman.com.Activity.LoginActivity"
                  android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.MenuActivity"
                  android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.HomeActivity"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.HomeActivitySalaryDeduction"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.HomeActivityLines"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.MemberDetailsActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.Information"
                  android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.PolicyDetailsActivity"
                  android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.ClaimStatus"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.PreApprovalActivity"
                  android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.PostCommentActivity"
                  android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.PolicyDetailsSalaryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.AccountSummaryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.PolicyDetailsLinesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.AccountSummaryLinesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="rmsllcoman.com.Activity.FeedBackForm"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.RegistrationActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.RemainderActivity"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.ContactInfo"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="rmsllcoman.com.Activity.FAQActivity"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>